/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #dedede; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ddd; 
}
.brand-link {
    background-color: #0E2D89;
    font-size: 16px !important;
    padding-bottom: 19px !important;
    border-bottom: none !important;
}
.navbar-white {
    background-color: #0E2D89;
}
.car-bg {
    background-color: #416EE9 !important;
}
.navbar-light .navbar-nav .nav-link,
.user-panel .info a {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #f1f1f1;
}
.sidebar-dark-primary {
    background-color: #1C1C2B !important;
}
.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #07070C !important;
}
.breadcrumb-item+.breadcrumb-item::before {
    content: "" !important;
}
.content-header {
    padding: 15px 0.5rem 0 .5rem;
}
.content-welcome {
    padding: 0 .5rem 15px .5rem;
}
.card-title,
.card-header>.card-tools {
    color: #fff;
}
.attachment-block {
    border: none !important;
    background-color: transparent !important;
    padding: 10px !important;
    position: relative;
}
.bg-color-card-announce {
    background-color: #f8f9fa !important;
}
.download-file {
    position: absolute;
    right: 10px;
    top: 10px;
}
.todays__absent--card .attachment-img,
.leave__card .attachment-img {
    border-radius: 50px;
}
.leave__card table td {
    border-top: none !important;
}
.attachment-block .attachment-img {
    max-height: 70px !important;
    max-width: 70px !important;
}
.main-footer {
    background-color: transparent !important;
    border-top: none !important;
    color: #fff !important;
    padding: 0 !important;
    text-align: center;
}
.main-footer strong {
    font-size: 13px;
}
.sidebar__footer {
    position: absolute;
    bottom: 0;
    display: grid;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.login-page {
    background-image: url('dist/img/login-bg.png');
}
.login-page h2 {
    margin: 0 auto;
    display: block;
    text-align: center;
}
.login-page .btn {
    width: 60%;
    border-radius: 50px;
    margin: 0 auto;
}
.login-page {
    -ms-flex-align: flex-end !important;
    align-items: flex-end !important;
    display: flex !important;
    padding: 0 11%;
}
